<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegistrarPropuestaServlet</servlet-name>
        <servlet-class>controlador.RegistrarPropuestaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAlumnosServlet</servlet-name>
        <servlet-class>controlador.ListarAlumnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTrabajoServlet</servlet-name>
        <servlet-class>controlador.RegistrarTrabajoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPropuestasServlet</servlet-name>
        <servlet-class>controlador.ListarPropuestasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarPropuestaServlet</servlet-name>
        <url-pattern>/RegistrarPropuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAlumnosServlet</servlet-name>
        <url-pattern>/ListarAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTrabajoServlet</servlet-name>
        <url-pattern>/RegistrarTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPropuestasServlet</servlet-name>
        <url-pattern>/ListarPropuestas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
